body {
	background-color: #555;
}

.tile {
	position: absolute;
	bottom: 40px;
	right: 40px;
	width: 260px;
	height: 140px;
	z-index: 1000;
	background-color: rgba(0,0,0,0.5);
	padding: 22px;
	color: #fff;
	font-family: "HelveticaNeue-Light", helvetica;
	border-radius: 10px;
	border: solid 1px #000;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

.tile h2 {
	margin-top: 0px;
}

.logo {
	position: relative;
}

.logo h1 {
	font-family: "HelveticaNeue", helvetica;
	color: #000;
	position: absolute;
	top: 12px;
	left: 40px;
	z-index: 1000;
}