<form method="post">

	<input type="text" name="note" placeholder="Note">
	<br>
	<input type="text" name="doing" placeholder="Doing">
	<br>
	<input type="text" name="recordedat" placeholder="RecordedAt">
	<br>
	<input type="text" name="location" placeholder="Location">
	<br>
	<input type="text" name="city" placeholder="City">
	<br>
	<input type="text" name="country" placeholder="Country">
	<br>
	<input type="text" name="address" placeholder="Address">
	<br>
	<input type="text" name="category" placeholder="Category">
	<br>
	<br>
	<button type="submit">Add Place</button>

</form>