<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Dashboard</h2>
			<p>{{ countries }}</p>

			<div id="container" style="position: relative; width: 500px; height: 300px;"></div>

			<span ng-repeat="country in countryList"><a href="/user/kevinbluer/country/{{ country.CountryCode }}">{{ country.CountryName }}</a>{{$last ? '' : ' + '}}</span>

			<hr>
			<h2>Trips</h2>
			<p>You've been on {{ trips.length }} trips <span ng-repeat="trip in trips"><a href="/user/kevinbluer/trip/{{ trip.objectId }}">{{ trip.Name }}</a>{{$last ? '' : ', '}}</span>. You've starred 26 other trips / expeditions.</p>
			<a href="/add" class="btn btn-default">Add Location</a>
			<a href="/kevinbluer/trip/add" class="btn btn-default">Add Trip</a>
			<hr>
			<h2>Statistics</h2>
			<p>164 Total Pins | First Pin 3,921 Days Ago | Most Recent Pin 2 Days Ago | 22 Starred Places | 42 Countries</p>
			<hr>
			<h2>Review The Years</h2>
			<p>In 2015 you visited X cities within Y countries. Spent the most time in Z.
		</div>
		<div class="col-md-4">
			<h2>Recent</h2>
			<div ng-repeat="checkin in checkins">
				<div><strong><a href="/user/kevinbluer/{{ checkin.objectId }}">{{ checkin.Doing }}</a></strong></div>
				<div>{{ checkin.Note }}</div>
				<hr>
			</div>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>