.thumb {
	margin-bottom: 20px;
	position: relative;
}

.thumb .details {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
}

.map-thumb {
	opacity: 0.6;
	height: 100px;
}

.label-success {
	font-size: 16px; 
	line-height: 32px;
}

#container {
	width: 100%; 
	height: 360px;
}

h4 {
	font-weight: normal;
}

a {
	color: #417503;
}