<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Dashboard</h2>
			<p>{{ countries }}</p>

			<div id="container" style="position: relative; width: 500px; height: 300px;"></div>

			<span ng-repeat="country in countryList">{{ country }}{{$last ? '' : ' + '}}</span>

			<hr>
			<h2>Trips</h2>
			<p>You've been on {{ trips.length }} trips <span ng-repeat="trip in trips"><a href="/user/kevinbluer/trip/{{ trip.objectId }}">{{ trip.Name }}</a>{{$last ? '' : ', '}}</span>. You've starred 26 other trips / expeditions.</p>
			<a href="/kevinbluer/trip/add" class="btn btn-default">Add Trip</a>
			<a href="/add" class="btn btn-default">Add Location</a>
			<hr>
			<h2>Explorers</h2>
			<p>You've added 10 explorers (and are following 25).</p>
			<hr>
			<h2>Travel Statistics</h2>
			<p>First Pin | Most Recent Pin | Starred Trips | Popular Places</p>
		</div>
		<div class="col-md-4">
			<h2>Recents</h2>
			<div ng-repeat="checkin in checkins">
				<div><strong><a href="/user/kevinbluer/{{ checkin.objectId }}">{{ checkin.Doing }}</a></strong></div>
				<div>{{ checkin.Note }}</div>
				<hr>
			</div>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>