.map-canvas { 
	width: 100%; 
	border: solid 1px #E0E0E0;
	height: 200px;
}

.map {
  position: relative;
  width: 750px;
  height: 500px;
}

.thumb {
	margin-bottom: 20px;
	position: relative;
}

.thumb .details {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 100;
}

.map-thumb {
	opacity: 0.6;
	height: 100px;
}