<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Edit</h2>
			<p>Edit the check-in details below...</p>
			<input ng-model="note" type="text" class="form-control" placeholder="What?" required>
			<br>
			<input ng-model="doing" type="text" class="form-control" placeholder="Where?" required>
			<br>
			<button ng-click="save()" class="btn btn-default">Update Checkin Details</button> <button ng-click="delete()" class="btn btn-danger pull-right">Delete Checkin</button>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>