<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>{{ where }}</h2>
			<p>{{ what }}</p>
  			<div ui-map="myMap" ui-options="mapOptions" class="map-view-canvas"></div>
  			<div>
  				<br>
  				
  				<!-- Single button -->
			    <div class="btn-group" dropdown is-open="status.isopen">
			      <a type="button" ng-click="toggleDD" class="btn btn-primary dropdown-toggle">
			        Select Trip <span class="caret"></span>
			      </a>
			      <ul class="dropdown-menu" role="menu">
			        <li ng-repeat="choice in trips">
			          <a ng-click="setChoiceIndex(choice.objectId)" href="#">{{choice.Name}}</a>
			        </li>
			      </ul>
			    </div>
  			</div>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>