<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h2><span class="fa fa-map-marker"></span> {{ where }}</h2>
				</div>
				<div class="col-md-12">
					<ol class="breadcrumb">
					  
					  <li><a href="/user/kevinbluer"><span class="glyphicon glyphicon-globe"></span> World</a></li>
					  <li><a href="/user/kevinbluer/country/{{ checkin.CountryCode2 }}"><span class="glyphicon glyphicon-flag"></span> {{ checkin.Country }}</a></li>
					  <li class="active"><span class="glyphicon glyphicon-pushpin"></span> {{ what }}</li>
					</ol>
				</div>
			</div>
  			<div ui-map="myMap" ui-options="mapOptions" class="map-view-canvas"></div>
  			<h2 style="text-transform: capitalize">{{ when }}</h2>
  			<div class="row">
				<div class="col-md-6">
					<div class="pull-left">
						<div class="btn-group" dropdown is-open="status.isclosed">
					      <a type="button" class="btn btn-primary dropdown-toggle">
					        People You Were There With <span class="caret"></span>
					      </a>
					      <ul class="dropdown-menu" role="menu">
					        <li>Wife</li>
					        <li>Mum</li>
					        <li>Brother</li>
					        <li>Etc</li>
					      </ul>
					    </div>
					    <div class="btn-group" dropdown is-open="status.isclosed">
					      <a type="button" ng-click="toggleDD" class="btn btn-primary dropdown-toggle">
					        Add to  Trip <span class="caret"></span>
					      </a>
					      <ul class="dropdown-menu" role="menu">
					        <li ng-repeat="choice in trips">
					          <a ng-click="setChoiceIndex(choice.objectId)" href="#">{{choice.Name}}</a>
					        </li>
					      </ul>
					    </div>
					    <a class="btn btn-default {{ starred }}" href="#" ng-click="toggleStar()"><span class="fa fa-star"></span> Star</a>
		  			</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>