h3 {
    font-weight: normal;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: 56px;
    margin-bottom: 36px;
    background-image: url('/assets/images/mongolia-blur-thin.jpg');
    background-size: cover;
}

.hero-unit > .container > span {
    font-size: 3em;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #629331;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.featurette {
    margin: 36px 0 36px 0;
}

.featurette-heading {

}

.featurette-image {
    width: 200px;
}