<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Settings</h2>
			<input ng-model="firstname" type="text" class="form-control" placeholder="First Name">
			<br>
			<input ng-model="lastname" type="text" class="form-control" placeholder="Last Name">
			<br>
			<input ng-model="email" type="text" class="form-control" placeholder="Email">
			<br>
			<input ng-model="location" type="text" class="form-control" placeholder="Location">
			<br>
			<button class="btn btn-lg btn-default">Save</button> <button class="btn btn-lg btn-primary">Go Premium</button>
			<hr>
			<h5>"The best journeys answer questions that in the beginning you didn't even think to ask"</h5>
		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
